:root {
    --font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

body {
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 36px;
    box-sizing: border-box;
}
.link-home {
    position: absolute;
    top: 20px;
    left: 20px;
}

#datetime-picker {
box-sizing: border-box;
display: inline-flex;
width: 272px;
padding: 8px 16px;
margin-right: 8px;
margin-bottom: 32px;
border-radius: 4px;
background-color: #fff;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
border: 1px solid #808080;
text-align: center;
}
#datetime-picker:hover,
#datetime-picker:focus {
    border: 1px solid #000;
    color: #2e2f42;
}
#datetime-picker:active {
    border: 1px solid #4E75FF;
    color: #000;
  }
#datetime-picker:disabled {
    cursor: not-allowed;
    background-color: #fafafa;
    color: #808080;
}
button[data-start] {
display: inline-flex;
justify-content: center;
border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background-color: #4e75ff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
border: none;
cursor: pointer;
transition: color 250ms linear,  background-color 250ms linear;
}

button[data-start]:hover,
button[data-start]:focus {
    background-color: #6c8cff;
}
button[data-start]:disabled {
    color: #989898;
    background-color: #cfcfcf;
    cursor: not-allowed;
}
.value {
font-family: var(--font-family);
font-weight: 400;
font-size: 40px;
line-height: 120%;
letter-spacing: 0.04em;
color: #2e2f42;
width: 100%;
text-align: center;
}
.label {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2e2f42;
text-align: center;
justify-content: center;
text-transform: uppercase;
width: 100%;
}

.timer {
    display: flex;
     gap: 24px;
    width: 346px;
    justify-content: space-between;
}
.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.flatpickr-calendar.animate.arrowTop.arrowLeft.open {
    background-color: #f5f5f5;
    margin-top: 8px;
}